@model IEnumerable<testMvcApp.Models.book>

@{
    ViewBag.Title = "anotherpage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>anotherpage</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" border="2">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.bookname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.book1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.bookname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book1)
        </td>
        <td>
            @Html.ActionLink("Add to Cart", "cart", new { id=item.id })
        </td>
    </tr>
}

</table>
